* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-font-family: "Poppins", Sans-serif;
    --light-white: #f5f8fa;
    --gray: #5e6278;
    --gray-1: #e3e3e3;
  }
  
  body {
    font-family: var(--primary-font-family);
    font-size: 14px;
  }
  
  .wrapper {
    padding: 100px 0 100px;
  }
  .wrapper input {
    background-color: var(--light-white);
    border-color: #e3e3e3;
    color: black;
  }