.warning {
    background-color: red;
    z-index: 10;
    transform: translateY(-20rem);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    width: 300px;
    height: 270px;
    background-color: yellow;
    padding: 30px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
}

.popup .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon i.fa {
    font-size: 30px;
    color:
        #34f234;
}

.popup .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup .description {
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}



.loader {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 45vw;
    transform: translate(-50%, -50%);
    width: 20px;
}

.loader .pair {
    position: absolute;
    width: 60px;
    height: 20px;
}

.loader .pair .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
}

.loader .pair .dot-2 {
    right: 0px;
}

.loader .p2 {
    left: 40px;
}

.loader .p1 {
    animation: spin 1000ms ease-in-out infinite;
}

.loader .p2 {
    animation: spin 1000ms ease-in-out infinite reverse;
}

.loader .p1 .dot-1 {
    opacity: 0;
    animation: hide 1000ms ease-in-out infinite reverse;
}

.loader .p2 .dot-2 {
    opacity: 0;
    animation: hide 1000ms ease-in-out infinite;
}

@keyframes hide {

    0%,
    49% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50%,
    100% {
        transform: rotate(180deg);
    }
}