.avatar {
    vertical-align: middle;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3px;
    background-size: contain;
}

a {
    color: inherit;
    text-decoration: none;
}

.profilebody {
    display: flex;
    background: white;
    justify-content: center;
    height: 100vh;
}

.profilebody>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.profileenroll {
    height: 10rem;
    text-align: center;
}

.personaldetails {
    margin-inline: 2rem;
    display: flex;
    border: 5px black;
    display: flex;
    justify-content: center;
}

.details {
    padding: 0;
}

.details>* {
    color: black;
}

.details>h3 {
    margin-top: 1rem;
    color: black;
}

.detailcontent {
    text-align: -webkit-center;
}



.profileContent {
    margin-top: 2rem;
    background: greenyellow;
    margin-bottom: 2rem;
    border-radius: 16px;
}

.buttons {
    margin-top: 1rem;
    text-align: center;
    padding: 0 2rem;
}

.buttons>button {
    margin-right: 0;
    background: #2BB0A8;
    height: 3rem;
    width: 8rem;
    color: white;
    outline: none;
    border: none;
    border-radius: 10%;
    margin-bottom: 2vh;
}

.resetpass{
    margin-left: 1rem;
}