.attrep-1 {
    text-align: center;
}

.heading-2 {
    background-color: #2bb0a8;
}

.table-2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.attrep1 {
    text-align: center;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

#butn {
    margin-right: 2rem;
    width: 11rem;
    margin-bottom: 3rem;
}

.attrep-1a {
    background-color: rgb(196, 255, 255);
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}