.form-control-8 {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    background-color: #2bb0A8;
    border-radius: 5px;
    margin-top: 20px;
    height: 35px;
}


.table-24 {
    margin: 0 20%;
    margin-bottom: 40px;
}

#button_block5 {
    margin-top: 20px;
}

#date_block1 {
    text-align: center;
}

.form-control-12 {
    width: 15rem;
    text-align: center;
    border-radius: 5px;
}

.overall-1 {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width : 500px) {
    .table-24 {
        margin: 0 6%;
    }
}