

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.heading {
    display: flex;
    margin-left: 2rem;
    align-items: center;
}

.nav-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}



.semester {
    text-align: center;
    background-color: #f5f5f5;
    display: none;
}

.semester>* {
    margin-bottom: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semester>p:hover {
    background-color: grey;
}



.nav-menu-items {
    width: 100%;
    padding-left: 0;
}



.navbar-toggle>span {
    color: white;
    font-size: 26px;
}
