

.avatar {
    vertical-align: middle;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3px;
    background-size: contain;
}
